<div style="display: flex; justify-content: space-evenly; flex-wrap: wrap;">
    <iframe width="40%" height="800" frameborder="0" style="margin: 2rem;"
        src="https://observablehq.com/embed/@ghatevedant/uscholar?cells=viewof+choiceOfView%2Cviewof+searchUniversities%2Cviewof+selectedUniversity%2Cviewof+test%2Cviewof+choiceOfGradLevel%2CethnicityRatioTitle%2CethnicityPieChart">
    </iframe>
    <iframe width="40%" height="800" frameborder="0" style="margin: 2rem;"
        src="https://observablehq.com/embed/@ghatevedant/uscholar?cells=viewof+choiceOfView%2Cviewof+searchUniversities%2Cviewof+selectedUniversity%2Cviewof+test%2Cviewof+choiceOfGradLevel%2CethnicityRatioTitle%2CethnicityPieChart">
    </iframe>
    <iframe width="40%" height="800" frameborder="0" style="margin: 2rem;"
        src="https://observablehq.com/embed/@ghatevedant/uscholar?cells=viewof+choiceOfView%2Cviewof+searchUniversities%2Cviewof+selectedUniversity%2Cviewof+test%2Cviewof+choiceOfGradLevel%2CethnicityRatioTitle%2CethnicityPieChart">
    </iframe>
    <iframe width="40%" height="800" frameborder="0" style="margin: 2rem;"
        src="https://observablehq.com/embed/@ghatevedant/uscholar?cells=viewof+choiceOfView%2Cviewof+searchUniversities%2Cviewof+selectedUniversity%2Cviewof+test%2Cviewof+choiceOfGradLevel%2CethnicityRatioTitle%2CethnicityPieChart">
    </iframe>
</div>