<div style="background: url(../../assets/usa.jpg)" class="jumbotron bg-cover text-white">
    <div class="container py-5 text-center text">
        <h1 class="display-4 font-weight-bold"><span class="us">UScholar</span></h1>
        <p class="font-italic mb-0 subtitle">Visual Info-graphics on Universities in the United States</p>
    </div>
</div>

<div class="cards">
    <div *ngIf="!ethnicityPieInfo" class="card" style="width: 50%; height: 57rem;" [ngClass]="{'flip' : ethnicityPieFlip}">
        <div class="titlediv"><h4>Student's Ethnicity Ratio</h4> <mat-icon matTooltip="Info" matTooltipClass="primary-tooltip" (click)="flipit('ethnicityPie')">info</mat-icon></div>
        <div>
            <iframe width="100%" height="820" frameborder="0"
                src="https://observablehq.com/embed/@ghatevedant/uscholar?cells=ethnicityPieChart%2Cviewof+choiceOfView%2Cviewof+searchUniversities%2Cviewof+selectedUniversity%2Cviewof+test%2Cviewof+choiceOfGradLevel%2CethnicityRatioTitle%2CethnicityRatioLegend">
            </iframe>
        </div>
    </div>
    <div *ngIf="ethnicityPieInfo" class="card back" style="width: 50%; height: 57rem;" [ngClass]="{'flip' : !ethnicityPieFlip}">
        <h3>About</h3>
        <p>
            This Pie Chart Indicates Percent-wise distribution of students based on their Ethnicity. When ‘overall ‘option is selected, we can visualize nation-wide student ratios whereas when ‘University Specific’ option is selected, the user can select a particular university of interest from a dropdown box below to view the student ratios specific to the selected university.
            Information Includes:</p>
            <ul>
                <li>Overall distribution</li>
                 <li>Undergrad level distribution </li>
                 <li>Grad level distribution </li>
            </ul>   
        
        <p class="backcross"><mat-icon matTooltip="Back to chart" matTooltipClass="primary-tooltip" (click)="flipit('ethnicityPie')">cancel</mat-icon></p>
    </div>

    <!-- =============================================================== -->

    <div *ngIf="!genderPieInfo" class="card" style="width: 50%; height: 57rem;" [ngClass]="{'flip' : genderPieFlip}">
        <div class="titlediv"><h4>Student's Gender Ratio</h4> <mat-icon matTooltip="Info" matTooltipClass="primary-tooltip" (click)="flipit('genderPie')">info</mat-icon></div>
        <div>
            <iframe width="100%" height="820" frameborder="0"
                src="https://observablehq.com/embed/@ghatevedant/uscholar?cells=viewof+choiceOfAdmission%2CgenderRatioTitle%2CgenderChart%2Cviewof+choiceOfView%2Cviewof+searchUniversities%2Cviewof+selectedUniversity%2Cviewof+test">
            </iframe>
        </div>
    </div>
    <div *ngIf="genderPieInfo" class="card back" style="width: 50%; height: 57rem;" [ngClass]="{'flip' : !genderPieFlip}">
        <h3>About</h3>
        <p>
            This Pie Chart Indicates Percent-wise distribution of students based on their Gender. When ‘overall ‘option is selected, we can visualize nation-wide gender ratios whereas when ‘University Specific’ option is selected, the user can select a particular university of interest from a dropdown box below to view the gender ratios specific to the selected university. 
            Information Includes:         </p>
            <ul>
                <li>Number of Applicants </li>

                <li>Number of admissions</li> 
            
                <li>Number of Enrollments</li> 
            </ul>
        <p class="backcross"><mat-icon matTooltip="Back to chart" matTooltipClass="primary-tooltip" (click)="flipit('genderPie')">cancel</mat-icon></p>
    </div>

    <!-- =============================================================== -->

    <div *ngIf="!gradEthnicityBarInfo" class="card" style="width: 50%; height: 37rem;" [ngClass]="{'flip' : gradEthnicityBarFlip}">
        <div class="titlediv"><h4>Graduation Rate by Ethincity</h4> <mat-icon matTooltip="Info" matTooltipClass="primary-tooltip" (click)="flipit('gradEthnicityBar')">info</mat-icon></div>
        <div>
            <iframe width="100%" height="530" frameborder="0"
                 src="https://observablehq.com/embed/@ghatevedant/uscholar?cells=viewof+GREthnicityName%2CgraduationRateEthnicityChart">
            </iframe>
        </div>
    </div>
    <div *ngIf="gradEthnicityBarInfo" class="card back" style="width: 50%; height: 37rem;" [ngClass]="{'flip' : !gradEthnicityBarFlip}">
        <h3>About</h3>
        <p>
            This Bar chart indicates graduation rate of the students based on their ethnicity. The user can choose a university of interest to visualize the graduation rate of students belonging to different ethnicities. 

            Information Includes:         </p>
            <ul>
                <li>Ethnicity specific graduation rate</li>
            </ul>
        <p class="backcross"><mat-icon matTooltip="Back to chart" matTooltipClass="primary-tooltip" (click)="flipit('gradEthnicityBar')">cancel</mat-icon></p>
    </div>

    <!-- =============================================================== -->

    <div *ngIf="!gradGenderBarInfo" class="card" style="width: 50%; height: 37rem;" [ngClass]="{'flip' : gradGenderBarFlip}">
        <div class="titlediv"><h4>Graduation Rate by Gender</h4> <mat-icon matTooltip="Info" matTooltipClass="primary-tooltip" (click)="flipit('gradGenderBar')">info</mat-icon></div>
        <div>
            <iframe width="100%" height="530" frameborder="0"
                src="https://observablehq.com/embed/@ghatevedant/uscholar?cells=viewof+MandWName%2CgraduationRateGenderChart">
            </iframe>
        </div>
    </div>
    <div *ngIf="gradGenderBarInfo" class="card back" style="width: 50%; height: 37rem;" [ngClass]="{'flip' : !gradGenderBarFlip}">
        <h3>About</h3>
        <p>
            This Bar chart indicates graduation rate of the students based on their gender. The user can choose a university of interest to visualize gender wise graduation rate of students. 

            Information Includes:         </p>
            <ul>
                <li>Gender specific graduation rate</li>
            </ul>
        <p class="backcross"><mat-icon matTooltip="Back to chart" matTooltipClass="primary-tooltip" (click)="flipit('gradGenderBar')">cancel</mat-icon></p>
    </div>

    <!-- ========================== CAROUSELS ===================================== -->

    <div style="width: 70rem;">
        <mdb-carousel [animation]="'slide'" [interval]=0>
            <mdb-carousel-item>
                    <div *ngIf="!livingExpensesInfo" class="card" style="width: 70rem; height: 57rem;" [ngClass]="{'flip' : livingExpensesFlip}">
                        <div class="titlediv"><h4>Living Expenses</h4> <mat-icon matTooltip="Info" matTooltipClass="primary-tooltip" (click)="flipit('livingExpenses')">info</mat-icon></div>
                        <div>
                            <iframe width="100%" height="850" frameborder="0"
                                src="https://observablehq.com/embed/@ghatevedant/uscholar?cells=viewof+choiceOfLiving%2Clivingexpensesubtitle%2Clivingexpenseslegend%2ClivingExpensesChart">>
                            </iframe>
                        </div>
                    </div>
                    <div *ngIf="livingExpensesInfo" class="card back" style="width: 70rem; height: 57rem;" [ngClass]="{'flip' : !livingExpensesFlip}">
                        <h3>About</h3>
                        <p>
                            This Choropleth Map provides information about state wise living expenses based on the type of the students seeking for admission. The user can choose the type of living as in district, in state, out of district, out of state along with in campus or out of campus to know the cost of living of a state in US dollars.  

                            Upon choosing the “Type of living “, the user can hover on different states to visualize the living expenses. 
                         
                         Information Includes:                         </p>
                         <ul>
                             <li>State wise living expenses in US dollars</li>
                         </ul>
                        <p class="backcross"><mat-icon matTooltip="Back to chart" matTooltipClass="primary-tooltip" (click)="flipit('livingExpenses')">cancel</mat-icon></p>
                    </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                    <div *ngIf="!applicantsMapInfo" class="card" style="width: 70rem; height: 57rem;" [ngClass]="{'flip' : applicantsMapFlip}">
                        <div class="titlediv"><h4>Application Density</h4> <mat-icon matTooltip="Info" matTooltipClass="primary-tooltip" (click)="flipit('applicantsMap')">info</mat-icon></div>
                        <div>
                            <iframe width="100%" height="850" frameborder="0"
                                src="https://observablehq.com/embed/@ghatevedant/uscholar?cells=applicantsChart%2Cviewof+typeSelect">                        
                            </iframe>
                        </div>
                    </div>
                    <div *ngIf="applicantsMapInfo" class="card back" style="width: 70rem; height: 57rem;" [ngClass]="{'flip' : !applicantsMapFlip}">
                        <h3>About</h3>
                        <p>
                            This Bubble Map indicates gender wise application density for the universities of different states. The size of the bubbles is directly proportional to the application density for the universities. 

                            Information Includes:                         </p>
                            <ul>
                                <li>Gender specific Applications</li>
                            </ul>
                        <p class="backcross"><mat-icon matTooltip="Back to chart" matTooltipClass="primary-tooltip" (click)="flipit('applicantsMap')">cancel</mat-icon></p>
                    </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <div *ngIf="!degreesMapInfo" class="card" style="width: 70rem; height: 57rem;" [ngClass]="{'flip' : degreesMapFlip}">
                    <div class="titlediv"><h4>Distribution of Degrees Offered</h4> <mat-icon matTooltip="Info" matTooltipClass="primary-tooltip" (click)="flipit('degreesMap')">info</mat-icon></div>
                    <div>
                        <iframe width="100%" height="850" frameborder="0"
                        src="https://observablehq.com/embed/@ghatevedant/uscholar?cells=degreeOfferedChart%2Cviewof+degreeOffered">                        
                        </iframe>
                    </div>
                </div>
                <div *ngIf="degreesMapInfo" class="card back" style="width: 70rem; height: 57rem;" [ngClass]="{'flip' : !degreesMapFlip}">
                    <h3>About</h3>
                    <p>
                        This Bubble Map provides information about various degrees offered by the universities across the country. The User can choose the type of the degree from the drop-down list and visualize types of degrees offered by the universities in different states 

                        Information Includes:                     </p>
                        <ul>
                            <li>Type of Degrees offered</li>
                        </ul>
                    <p class="backcross"><mat-icon matTooltip="Back to chart" matTooltipClass="primary-tooltip" (click)="flipit('degreesMap')">cancel</mat-icon></p>
                </div>
        </mdb-carousel-item>
        </mdb-carousel>
    </div>

    <!-- ======================== FEES CAROUSELS =================================== -->

    <div style="width: 70rem;">
        <mdb-carousel [animation]="'slide'" [interval]=0>
            <mdb-carousel-item>
                    <div *ngIf="!tuitionLineInfo" class="card" style="width: 70rem; height: 45rem;" [ngClass]="{'flip' : tuitionLineFlip}">
                        <div class="titlediv"><h4>Tuition Fee Trend</h4> <mat-icon matTooltip="Info" matTooltipClass="primary-tooltip" (click)="flipit('tuitionLine')">info</mat-icon></div>
                        <div>
                            <iframe width="100%" height="850" frameborder="0"
                                src="https://observablehq.com/embed/@ghatevedant/uscholar?cells=viewof+Name%2Cviewof+feeType%2CtuitionFeeChart">
                            </iframe>
                        </div>
                    </div>
                    <div *ngIf="tuitionLineInfo" class="card back" style="width: 70rem; height: 45rem;" [ngClass]="{'flip' : !tuitionLineFlip}">
                        <h3>About</h3>
                        <p>
                            This Line Chart provides information on university specific tuition fee trends over the last 4 years based on the type of student’s living. The User can select the university from the dropdown list and select student type to visualize the fee trends.  

                            Information Includes:                         </p>
                            <ul>
                                <li>In- District fee in US dollars </li>

                                <li>In-State fee in US dollars</li>
                                
                                <li>Out-of-State fee in US dollars</li>
                            </ul>
                        <p class="backcross"><mat-icon matTooltip="Back to chart" matTooltipClass="primary-tooltip" (click)="flipit('tuitionLine')">cancel</mat-icon></p>
                    </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                    <div *ngIf="!gradLineInfo" class="card" style="width: 70rem; height: 45rem;" [ngClass]="{'flip' : gradLineFlip}">
                        <div class="titlediv"><h4>Graduation Rate</h4> <mat-icon matTooltip="Info" matTooltipClass="primary-tooltip" (click)="flipit('gradLine')">info</mat-icon></div>
                        <div>
                            <iframe width="100%" height="850" frameborder="0"
                                src="https://observablehq.com/embed/@ghatevedant/uscholar?cells=viewof+GradRateName%2CgraduationRateChart">                            
                            </iframe>
                        </div>
                    </div>
                    <div *ngIf="gradLineInfo" class="card back" style="width: 70rem; height: 45rem;" [ngClass]="{'flip' : !gradLineFlip}">
                        <h3>About</h3>
                        <p>
                            This Line chart provides information on university specific graduation rate for 4, 5, 6 years. The user can select the university from the dropdown list to visualize the graduation rate. 

                            Information Includes:                         </p>
                            <ul>
                                <li>Graduation Rate for 4, 5 and 6 years</li>
                            </ul>
                        <p class="backcross"><mat-icon matTooltip="Back to chart" matTooltipClass="primary-tooltip" (click)="flipit('gradLine')">cancel</mat-icon></p>
                    </div>
            </mdb-carousel-item>
        </mdb-carousel>
    </div>

    <!-- ========================================================================== -->

    <div *ngIf="!degreesBarInfo" class="card" style="width: 50%; height: 57rem;" [ngClass]="{'flip' : degreesBarFlip}">
        <div class="titlediv"><h4>Degrees Conferred</h4> <mat-icon matTooltip="Info" matTooltipClass="primary-tooltip" (click)="flipit('degreesBar')">info</mat-icon></div>
        <div>
            <iframe width="100%" height="820" frameborder="0"
                src="https://observablehq.com/embed/@ghatevedant/uscholar?cells=viewof+universityList%2Cviewof+choiceData%2CdegreesChart%2CdegreesLegend">
            </iframe>
        </div>
    </div>
    <div *ngIf="degreesBarInfo" class="card back" style="width: 50%; height: 57rem;" [ngClass]="{'flip' : !degreesBarFlip}">
        <h3>About</h3>
        <p>
            This Bar provides information about the number of types of degrees conferred by the universities. The User can select the university of interest from the drop-down list and chose Degrees Awarded or Degrees Received to visualize the data. The degrees have been color coded for a better readability.  

            Information includes:         </p>
            <ul>
                <li>Number of degrees Awarded</li>
                <li>Number of degrees received</li>
            </ul>
        <p class="backcross"><mat-icon matTooltip="Back to chart" matTooltipClass="primary-tooltip" (click)="flipit('degreesBar')">cancel</mat-icon></p>
    </div>

    <!-- =============================================================== -->

    <div *ngIf="!admissionsBarInfo" class="card" style="width: 50%; height: 57rem;" [ngClass]="{'flip' : admissionsBarFlip}">
        <div class="titlediv"><h4>University Rankings</h4> <mat-icon matTooltip="Info" matTooltipClass="primary-tooltip" (click)="flipit('admissionsBar')">info</mat-icon></div>
        <div>
            <iframe width="100%" height="820" frameborder="0"
                src="https://observablehq.com/embed/@ghatevedant/uscholar?cells=viewof+info%2Cviewof+lowerLimit2%2Cviewof+upperLimit2%2CadmissionsLegend%2CadmissionsChart">            
            </iframe>
        </div>
    </div>
    <div *ngIf="admissionsBarInfo" class="card back" style="width: 50%; height: 57rem;" [ngClass]="{'flip' : !admissionsBarFlip}">
        <h3>About</h3>
        <p>
            This stacked Bar chart provides information on university specific Gender wise number of Admissions, gender wise number of Applicants and gender wise number of Enrollments and sorts the information by the University Ranks. 

            The user can choose the option of interest and specify the lower and upper limit of rankings of the Universities in the text box below to Visualize the information of the Universities based on their ranking.  
            
            Information Includes:        </p>
            <ul>
                <li>Gender wise number of applicants</li>
                <li>Gender wise number of admissions</li>
                <li>Gender wise number of enrollments</li>
            </ul>
        <p class="backcross"><mat-icon matTooltip="Back to chart" matTooltipClass="primary-tooltip" (click)="flipit('admissionsBar')">cancel</mat-icon></p>
    </div>

    <!-- =============================================================== -->

    <div *ngIf="!grantAmountBarInfo" class="card" style="width: 50%; height: 37rem;" [ngClass]="{'flip' : grantAmountBarFlip}">
        <div class="titlediv"><h4>Institutions ranked by total Grants Recieved</h4> 
            <mat-icon matTooltip="Info" matTooltipClass="primary-tooltip" (click)="flipit('grantAmountBar')">info</mat-icon></div>
        <div>
            <iframe width="100%" height="540" frameborder="0"
                src="https://observablehq.com/embed/@ghatevedant/uscholar?cells=grantAmountTwoChart%2CgrantAmountTwoLegend">            
            </iframe>
        </div>
    </div>
    <div *ngIf="grantAmountBarInfo" class="card back" style="width: 50%; height: 37rem;" [ngClass]="{'flip' : !grantAmountBarFlip}">
        <h3>About</h3>
        <p>
            This stacked Bar chart provides information about universities ranked by their total Grants received. It includes the top 10 institutes receiving various grants such as:    </p>
            <ul>
                <li>Federal Grants</li>
                <li>State and Local Grants</li>
                <li>Institutional Grants</li>
                <li>Pell Grants</li>
            </ul>
        <p class="backcross"><mat-icon matTooltip="Back to chart" matTooltipClass="primary-tooltip" (click)="flipit('grantAmountBar')">cancel</mat-icon></p>
    </div>

    <!-- =============================================================== -->

    <div style="width: 50%; display: flex;">
        <div *ngIf="!satrInfo" class="card" style="width: 40%; height: 37rem;" [ngClass]="{'flip' : satrFlip}">
            <div class="titlediv"><h4>SAT Reading Percentiles</h4> <mat-icon matTooltip="Info" matTooltipClass="primary-tooltip" (click)="flipit('satr')">info</mat-icon></div>
            <div>
                <iframe width="100%" height="540" frameborder="0"
                    src="https://observablehq.com/embed/@ghatevedant/uscholar?cells=viewof+satUniDdl%2CsatReadingChart">            
                </iframe>
            </div>
        </div>
        <div *ngIf="satrInfo" class="card back" style="width: 40%; height: 37rem;" [ngClass]="{'flip' : !satrFlip}">
            <h3>About</h3>
            <p>
                This Bar chart provides information about university specific SAT Reading percentiles.            </p>
            <p class="backcross"><mat-icon matTooltip="Back to chart" matTooltipClass="primary-tooltip" (click)="flipit('satr')">cancel</mat-icon></p>
        </div>
    
        <!-- =============================================================== -->
    
        <div *ngIf="!satmInfo" class="card" style="width: 40%; height: 37rem;" [ngClass]="{'flip' : satmFlip}">
            <div class="titlediv"><h4>SAT Math Percentiles</h4> <mat-icon matTooltip="Info" matTooltipClass="primary-tooltip" (click)="flipit('satm')">info</mat-icon></div>
            <div>
                <iframe width="100%" height="540" frameborder="0"
                    src="https://observablehq.com/embed/@ghatevedant/uscholar?cells=satMathChart%2Cviewof+satUniDdl">            
                </iframe>
            </div>
        </div>
        <div *ngIf="satmInfo" class="card back" style="width: 40%; height: 37rem;" [ngClass]="{'flip' : !satmFlip}">
            <h3>About</h3>
            <p>
                This Bar chart provides information about university specific SAT Math percentiles.            </p>
            <p class="backcross"><mat-icon matTooltip="Back to chart" matTooltipClass="primary-tooltip" (click)="flipit('satm')">cancel</mat-icon></p>
        </div>
    </div>

    <!-- =============================================================== -->

    <div style="width: 75%; display: flex; justify-content: center;">
        <div *ngIf="!actcInfo" class="card" style="width: 25%; height: 37rem;" [ngClass]="{'flip' : actcFlip}">
            <div class="titlediv"><h4>ACT Composite Percentiles</h4> <mat-icon matTooltip="Info" matTooltipClass="primary-tooltip" (click)="flipit('actc')">info</mat-icon></div>
            <div>
                <iframe width="100%" height="540" frameborder="0"
                    src="https://observablehq.com/embed/@ghatevedant/uscholar?cells=viewof+satUniDdl%2CactCompositeChart">            
                </iframe>
            </div>
        </div>
        <div *ngIf="actcInfo" class="card back" style="width: 25%; height: 37rem;" [ngClass]="{'flip' : !actcFlip}">
            <h3>About</h3>
            <p>
                This Bar chart provides information about university specific ACT Composite percentiles.            </p>
            <p class="backcross"><mat-icon matTooltip="Back to chart" matTooltipClass="primary-tooltip" (click)="flipit('actc')">cancel</mat-icon></p>
        </div>
    
        <!-- =============================== -->
    
        <div *ngIf="!acteInfo" class="card" style="width: 25%; height: 37rem;" [ngClass]="{'flip' : acteFlip}">
            <div class="titlediv"><h4>ACT English Percentiles</h4> <mat-icon matTooltip="Info" matTooltipClass="primary-tooltip" (click)="flipit('acte')">info</mat-icon></div>
            <div>
                <iframe width="100%" height="540" frameborder="0"
                    src="https://observablehq.com/embed/@ghatevedant/uscholar?cells=actEnglishChart%2Cviewof+satUniDdl">            
                </iframe>
            </div>
        </div>
        <div *ngIf="acteInfo" class="card back" style="width: 25%; height: 37rem;" [ngClass]="{'flip' : !acteFlip}">
            <h3>About</h3>
            <p>
                This Bar chart provides information about university specific ACT English percentiles.            </p>
            <p class="backcross"><mat-icon matTooltip="Back to chart" matTooltipClass="primary-tooltip" (click)="flipit('acte')">cancel</mat-icon></p>
        </div>

        <!-- =============================== -->
    
        <div *ngIf="!actmInfo" class="card" style="width: 25%; height: 37rem;" [ngClass]="{'flip' : actmFlip}">
            <div class="titlediv"><h4>ACT Math Percentiles</h4> <mat-icon matTooltip="Info" matTooltipClass="primary-tooltip" (click)="flipit('actm')">info</mat-icon></div>
            <div>
                <iframe width="100%" height="540" frameborder="0"
                    src="https://observablehq.com/embed/@ghatevedant/uscholar?cells=actMathsCharts%2Cviewof+satUniDdl">            
                </iframe>
            </div>
        </div>
        <div *ngIf="actmInfo" class="card back" style="width: 25%; height: 37rem;" [ngClass]="{'flip' : !actmFlip}">
            <h3>About</h3>
            <p>
                This Bar chart provides information about university specific ACT Math percentiles.            </p>
            <p class="backcross"><mat-icon matTooltip="Back to chart" matTooltipClass="primary-tooltip" (click)="flipit('actm')">cancel</mat-icon></p>
        </div>
    </div>

</div>